.basemap {
    max-width: 100%;
}

.basemap.dummy {
    width: 100%;
    padding-bottom: 40%;
    background: rgb(194, 255, 255, 0.5);
}

.map {
    position: relative;
}

h1 {
    margin: 1rem;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
}

.points {
    fill: red;
    stroke: red; 
}

.lander, .rover {
    size: 2rem;
}

.past {
    fill: red;
    stroke: white; 
}

.active {
    fill: #00FF00;
    stroke: white; 
}
.future {
    fill: cyan;
    stroke: white; 
}
.spacex {
    fill: black;
    stroke: white; 
}

.locale {
    fill: yellow;
    stroke: black;
}

.satellite {
    fill: white;
}

.stable {
    stroke: #00FF00; 
}

.unstable {
    stroke: #ffff00;
}

.coverage {
    fill: none;
    stroke: rgba(255, 255, 255, 0.5)
}

.caption {
    width: 100%;
    text-align: center;
    margin: 0 0 2rem 0;
}


.graticule {
    fill: none;
    stroke: rgba(255, 255, 255, 0.2);
}

.moon .graticule {
    fill: none;
    stroke: rgba(255, 255, 255, 0.9);
}

.contour {
    stroke: black;
}
